:root{
    --fonte-heading: 'Poppins', sans-serif;
    --fonte-body:'Open Sans', sans-serif;
    --rosa: hsl(322, 100%, 66%);
    --ciano-claro: hsl(193, 100%, 96%);
    --ciano-escuro: hsl(192, 100%, 9%);
    --cinza: hsl(208, 11%, 55%);
    --cinza-sombra: hsla(209, 16%, 71%, 0.464);
}

body{
    background-color: white;
    font-size: 18px;
    font-family: var(--fonte-body);
    color: var(--ciano-escuro);
    line-height: 1.5rem;
}
header{
    background-color: var(--ciano-claro);
}
.container-header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
}

.logo{
    display: inline-block;
    width: 110px;
}

header p{
    font-size: 14px;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0.2rem 10px 0 var(--cinza-sombra);
}

.banner{
    background-color: var(--ciano-claro);
    padding: 2rem;
    text-align: center;
    background-image: url(images/bg-hero-mobile.svg);
}

.texto-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading {
    margin: 2rem 0 2rem 0;
    font-family: var(--fonte-heading);
    font-size: 26px;
    line-height: 2.5rem;
 
}

.botão-principal{
    font-size: 12px;
    background-color: var(--rosa);
    color: white;
    font-weight: 700;
    padding: 0.8rem 4rem;
    border-radius: 30px;
    margin: 2rem;
    width: 150px;
    box-shadow: 0 0.2rem 10px 0 var(--cinza-sombra);
    text-align: center;


}
.ilustração-banner{
    display: inline-block;
    width: 100%;
    margin: 1rem 0;
}

.card{
    margin: 3rem 2rem;
    padding: 2.5rem 1.5rem;
    border-radius: 20px;
    box-shadow: 0 0.2rem 10px 0 var(--cinza-sombra);
    text-align: center;
}
.ilustração{
    display: inline-block;
    width: 100%;
    margin: 1rem 0;
}

.heading secundária{
    font-size: 22px;
}

.descrição{
    font-size: 16px;
    color: var(--cinza);
}

.section-final{
    background-image: linear-gradient(to bottom, white, white 60%, var(--ciano-escuro) 40%);
}
.card-especial{
    margin: 3rem 2rem 0 2rem;
    padding: 3rem .5rem;
    border-radius: 20px;
    box-shadow: 0 0.2rem 10px 0 var(--cinza-sombra);
    text-align: center;
    background-color: white;

}

.heading-menor{
    font-family: var(--fonte-heading);
    font-size: 18px;
    line-height: 1.5rem;
}
.botão-especial{
    font-size: 12px;
    background-color: var(--rosa);
    color: white;
    padding: 0.6rem;
    font-weight: 700;
    margin: 2rem 2rem 0 2rem;
    border-radius: 30px;
    box-shadow: 0 0.2rem 10px 0 var(--cinza-sombra);
    text-align: center;

}

footer{
    padding: 3rem 1rem;
    background: var(--ciano-escuro);
    color: white;
}
footer div p{
    font-size: 16px;
    margin-left: 1rem;
}

.logo-branca{
    display: inline-block;
    width: 200px;
}

.informações{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1.5rem 0;

}

.icone{
    padding-top: 0.3rem;
}

.lista-itens{
    margin: 3rem 0;
}
.lista-itens li{
    margin:1.5rem 0
}

.rede-social{
    display: flex;
    align-items: center;
    justify-content: center;
}
svg{
    width: 20px;
    margin: 0 0.5rem 2rem;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
    font-weight: 700; 
}
.attribution a { 
    color: var(--rosa); 
}

@media only screen and (min-width: 1440px) {
    .container-header{
        padding: 3rem 4rem;
    }
    .logo{
        width: 200px;
    }
    header p{
        padding: 0.5rem 3rem;
    }

    .banner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem 2rem;
        background-image: url(images/bg-hero-desktop.svg);
        padding: 0 4rem 3rem 4rem;
    }

    .texto-banner{
        display: flex;
        align-items: flex-start;
        width: 50%;
        text-align: left;
        padding-right: 2rem;
    }

    .heading{
        font-size: 45px;
        line-height: 4rem;
    }
    .botão-principal{
        margin: 2rem 0px;
    }

    .ilustração-banner{
        display: inline-block;
        width: 700px;
        padding: 0 2rem;
    }

    .card{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 4rem 6rem;
        padding: 4rem 8rem;
    }

    .card div{
        text-align: left;
        width: 450px;
    
    }

    .ilustração{
        width: 450px;
    }

    .card h2{
        font-size: 30px;
    }
    .section-final{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .card-especial{
        width: 750px;
    }

    .botão-especial{
        margin: 0 10rem;
        padding: 1rem;
    }

    .heading-menor{
        font-size: 30px;
        margin-bottom: 3rem;
    }

    footer{
        padding: 4rem;
    }

    .logo-branca{
        width: 250px;
    }
    .container-footer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding-right: 10rem;
    }
    .informações{
        width: 380px;
    }
    .lista-itens{
        display: flex;
        flex-direction: row;
        align-items:flex-start;
        justify-content: space-between;
        margin: 0px;
    }
    ul div{
        padding: 0 5rem;
    }
    .rede-social{
        margin-top: 1.5rem;
    }

    .attribution{
        margin-top: 2rem;
        text-align: right;
    }
}